body {
    background-color: #1e1e1e; /* Черный цвет фона */
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    margin: 0; /* Убираем отступы по умолчанию */
    overflow: hidden; /* Запрещаем появление скроллов */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#optionsMenu {
    display: none; /* По умолчанию скрываем меню */
    position: fixed; /* Фиксируем позицию */
    top: 20px; /* Отступ от верхнего края */
    left: 10px; /* Отступ от левого края */
    z-index: 1; /* Уровень слоя */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px; /* Уменьшаем внутренний отступ */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px; /* Пример ширины меню */
}

#optionsMenu.show {
    display: block; /* Показываем меню при наличии класса show */
}

#optionsMenu input[type="text"] {
    display: block;
    width: calc(100% - 10px); /* Учитываем внутренние отступы и границы */
    margin-bottom: 10px;
    box-sizing: border-box; /* Учитываем ширину границы и внутренний отступ */
}

#optionsMenu button {
    display: block;
    width: 100%; /* Растягиваем кнопки на всю доступную ширину */
    margin-bottom: 10px; /* Отступ между кнопками */
}

#advancedSettingsArrow {
    cursor: pointer;
    margin-top: 20px;
    color: #fff; /* Цвет стрелочки */
    font-size: 20px; /* Размер стрелочки */
}

/* Добавляем стили для показа/скрытия меню продвинутых настроек */
#advancedSettingsMenu {
    display: none; /* по умолчанию меню скрыто */
    margin-top: 10px;
    padding-top: 10px; /* Добавляем внутренний отступ сверху */
    border-top: 1px solid rgba(255, 255, 255, 0.5); /* Добавляем разделительную линию сверху */
}

#advancedSettingsMenu input[type="text"] {
    display: block;
    width: calc(100% - 10px); /* Учитываем внутренние отступы и границы */
    margin-bottom: 10px;
    box-sizing: border-box; /* Учитываем ширину границы и внутренний отступ */
}




#advancedSettingsMenu.show {
    display: block; /* когда добавляется класс 'show', меню становится видимым */
}

.smiley {
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.hide {
    display: none; /* Скрываем элемент */
}

#menuIcon {
    cursor: pointer;
    position: fixed;
    top: 20px; /* Расстояние от верхнего края страницы */
    left: 20px; /* Расстояние от левого края страницы */
    z-index: 1000; /* Уровень слоя */
}

#optionsMenu button {
    display: block;
    margin-bottom: 10px;
}

#dice1Text,
#dice2Text {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@keyframes emojiAnimation {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) rotate(360deg);
    }
}

.smiley {
    position: absolute;
    font-size: 24px;
    opacity: 0;
    animation: emojiAnimation 1.5s ease-out forwards;
    /* Добавляем ограничение размеров экрана */
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.dice {
    width: 100px; /* Увеличил размер кубика */
    height: 100px; /* Увеличил размер кубика */
    transform-style: preserve-3d;
    transition: transform 1.5s ease-out;
    margin: 20px; /* Добавлено расстояние между кубиками */
}

.dice:hover {
    cursor: pointer;
}

.sides {
    background-color: #292929; /* Цвет граней кубика */
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.1); /* Тень на гранях */
}

.word {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff; /* Белый цвет текста */
    user-select: none; /* Запрещаем выделение текста */
}


.side-1 {
    transform: translateZ(50px); /* Изменено значение, чтобы текст на грани был ближе */
}

.side-2 {
    transform: rotateY(-180deg) translateZ(50px); /* Изменено значение, чтобы текст на грани был ближе */
}

.side-3 {
    transform: rotateY(90deg) translateZ(50px); /* Изменено значение, чтобы текст на грани был ближе */
}

.side-4 {
    transform: rotateY(-90deg) translateZ(50px); /* Изменено значение, чтобы текст на грани был ближе */
}

.side-5 {
    transform: rotateX(90deg) translateZ(50px); /* Изменено значение, чтобы текст на грани был ближе */
}

.side-6 {
    transform: rotateX(-90deg) translateZ(50px); /* Изменено значение, чтобы текст на грани был ближе */
}

.dice[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}

.dice[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}

.dice[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}

.dice[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}

.dice[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}

.dice[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

.dice[data-side="1"].reRoll {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.dice[data-side="2"].reRoll {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.dice[data-side="3"].reRoll {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}

.dice[data-side="4"].reRoll {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.dice[data-side="5"].reRoll {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}

.dice[data-side="6"].reRoll {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

#diceResult {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Зеленый цвет фона для результата */
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#diceResult.hide {
    opacity: 0;
}

#diceResult.reveal {
    animation: fadeUp 0.3s forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        bottom: 0;
    }

    100% {
        opacity: 1;
        bottom: 20px;
    }
}